# Allowlist files
!*.yaml
!.gitignore
!.*.md

# Ignore directories
.storage
.cloud
.google.token
__pycache__
backups
custom_components
image
tts
www

# Ensure sensitive YAML files are ignored
ip_bans.yaml
secrets.yaml
known_devices.yaml
*.august.conf

# Ignore home assistant db
*.db
*.db-shm
*.db-wal

# Ignore log files
*.log*

# Ignore other files
.HA_VERSION
*.lock
aircast.xml
core.device_registry
