# Allowlist files
!*.yaml
!.gitignore
!.*.md

# Ignore directories
.storage
.cloud
.google.token
blueprints
custom_components/hacs
__pycache__
www

# Ensure sensitive YAML files are ignored
ip_bans.yaml
secrets.yaml
known_devices.yaml
home-assistant.log
*.august.conf

# Ignore home assistant db
*.db
*.db-shm
*.db-wal

# Ignore log files
*.log*

# Ignore other files
.HA_VERSION
aircast.xml
