- id: ac4a9f97dc8d47afba2ca580ffb80f17
  alias: Battery - Low battery level detection & notification for all battery sensors
  description: Detect low battery levels and send a notification to discord
  use_blueprint:
    path: sbyx/low-battery-level-detection-notification-for-all-battery-sensors.yaml
    input:
      actions:
      - service: notify.discord
        data:
          title: Low Battery Warning
          message: ':zap: {{sensors}} battery is low'
          target:
          - '865449623518969866'
      day: 1
      exclude:
        entity_id:
        - sensor.chirp_battery_level_2
        - sensor.lightcycle_battery_level
- id: '1640318228441'
  alias: Away - Turn on the house lights
  description: ''
  trigger:
  - platform: sun
    event: sunset
    offset: '-2'
  condition: []
  action:
  - service: light.turn_on
    target:
      entity_id: light.kitchen_lights
    data: {}
  - service: light.turn_on
    data: {}
    target:
      device_id: e21888cd41c7a8c2d9028dc309a294bf
  mode: single
- id: '1640318394872'
  alias: Away - Turn off the house lights
  description: ''
  trigger:
  - platform: time
    at: '23:18:18'
  condition: []
  action:
  - service: light.turn_off
    target:
      entity_id: light.kitchen_lights
    data: {}
  - service: light.turn_off
    data: {}
    target:
      device_id: e21888cd41c7a8c2d9028dc309a294bf
  mode: single
- id: '1643675363387'
  alias: Lights - Turn on lights when someone arrives at home
  description: Turns on the kitchen, hallway, office, and dining room lights when
    someone arrives home.
  triggers:
  - entity_id:
    - zone.home
    from: '0'
    trigger: state
  conditions:
  - condition: sun
    after: sunset
    after_offset: '-1'
  actions:
  - target:
      entity_id:
      - light.kitchen_lights
      - light.shelly_hallway_01
      - light.dining_room_lights
    data: {}
    action: light.turn_on
  mode: single
- id: '1646793047500'
  alias: Lock - Front door lock when no one is home
  description: ''
  triggers:
  - entity_id:
    - person.jimmy
    to: not_home
    from: home
    trigger: state
  - entity_id:
    - person.dana
    to: not_home
    from: home
    trigger: state
  conditions:
  - condition: and
    conditions:
    - condition: state
      entity_id: person.jimmy
      state: not_home
    - condition: state
      entity_id: person.dana
      state: not_home
  actions:
  - data:
      title: Front Door Locked
      message: Home Assistant has automatically locked the front door.
      target: '865449623518969866'
    action: notify.discord
  mode: single
- id: '1665960719209'
  alias: Air Purifier - Turn on bedroom purifier at 9:00 PM
  description: Turns on the bedroom air purifier every night at 9:00 PM if someone
    is home.
  trigger:
  - platform: time
    at: '21:00:00'
  condition:
  - condition: or
    conditions:
    - condition: state
      entity_id: person.jimmy
      state: home
    - condition: state
      entity_id: person.dana
      state: home
  - condition: state
    entity_id: switch.bedroom_air_purifier
    state: 'off'
  action:
  - service: switch.turn_on
    data: {}
    target:
      entity_id: switch.bedroom_air_purifier
  mode: single
- id: '1665961235095'
  alias: Air Purifier - Turn off bedroom purifier at 10:00 AM
  description: Turns on the bedroom air purifier every night at 9:00 PM if someone
    is home.
  trigger:
  - platform: time
    at: '10:00:00'
  condition:
  - condition: state
    entity_id: switch.bedroom_air_purifier
    state: 'on'
  action:
  - service: switch.turn_off
    data: {}
    target:
      entity_id: switch.bedroom_air_purifier
  mode: single
- id: '1682289849532'
  alias: Fridge - Set filter install date to today
  description: Set the fridge filter installed date to today
  trigger: []
  condition: []
  action:
  - service: input_datetime.set_datetime
    data:
      date: '{{ as_timestamp(now())|timestamp_custom(''%Y-%m-%d'') }}'
    target:
      entity_id: input_datetime.fridge_filter_installed_date
  mode: single
- id: '1682293185693'
  alias: Kitchen - Purifier - Set Kitchen Sink Purifier Filter Install Date
  description: Set the kitchen sink purifier filter installed date to today
  trigger: []
  condition: []
  action:
  - service: input_datetime.set_datetime
    data:
      date: '{{ as_timestamp(now())|timestamp_custom(''%Y-%m-%d'') }}'
    target:
      entity_id: input_datetime.kitchen_sink_purifier_installed_date
  mode: single
- id: '1682293249148'
  alias: Air Purifier - Set bedroom air purifier install date to today
  description: Set the bedroom air purifier filter installed date to today
  trigger: []
  condition: []
  action:
  - service: input_datetime.set_datetime
    data:
      date: '{{ as_timestamp(now())|timestamp_custom(''%Y-%m-%d'') }}'
    target:
      entity_id: input_datetime.bedroom_air_filter_installed_date
  mode: single
- id: '1682293519436'
  alias: HVAC - Filter - Set filter installed date to today
  description: Set the HVAC filter installed date to today
  trigger: []
  condition: []
  action:
  - service: input_datetime.set_datetime
    data:
      date: '{{ as_timestamp(now())|timestamp_custom(''%Y-%m-%d'') }}'
    target:
      entity_id: input_datetime.hvac_filter_installed_date
  mode: single
- id: '1693693512054'
  alias: HVAC - Filter - Notify when replacement is needed
  description: ''
  trigger:
  - platform: time
    at: 09:00:00
  condition:
  - condition: numeric_state
    entity_id: sensor.hvac_filter_days_remaining
    below: 7
  action:
  - service: notify.discord
    data:
      target:
      - '865449623518969866'
      message: ':window: The HVAC filter needs to be changed in **{{ states.sensor.hvac_filter_days_remaining.state
        }} days**.  Additional filters can be purchased on [Amazon](https://www.amazon.com/gp/product/B07FQK912B).


        Once the filter is changed, navigate to the [Hallway Tab in Home Assistant](https://assistant.home.jmcnatt.net/lovelace/hallway)
        to reset the filter.'
  mode: single
- id: '1762909656942'
  alias: Stairway Lights Sync with Upper Hallway Scene Controller Button 2
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - switch.stairway_lights
  conditions: []
  actions:
  - action: light.turn_{{ 'on' if trigger.to_state.state == 'on' else 'off' }}
    target:
      entity_id: light.upper_hallway_scene_controller_button_2_led_indicator
  mode: single
- id: '1762986803752'
  alias: Hallway Upper Scene Controller Button 2 Toggles Stairway Lights
  description: ''
  triggers:
  - device_id: 59b5c0bd816769a4a1ba3eb95bb199c6
    domain: zwave_js
    type: event.value_notification.central_scene
    property: scene
    property_key: '001'
    endpoint: 0
    command_class: 91
    subtype: Endpoint 0 Scene 001
    trigger: device
    value: 0
  conditions: []
  actions:
  - action: light.toggle
    metadata: {}
    data: {}
    target:
      entity_id: light.stairway_lights
  mode: single
