#######################################################################################
# Core Config (non-default)
# https://www.home-assistant.io/integrations/default_config/
#######################################################################################
automation: !include automations.yaml
cloud:
  google_actions:
    entity_config:
      script.livingroom_tv:
        name: 'Living Room TV'
        aliases:
          - 'Turn on the living room tv'
          - 'Turn off the living room tv'
      script.livingroom_xbox:
        name: 'Living Room Xbox'
        aliases:
          - 'Turn on the living room xbox'
          - 'Turn off the living room xbox'
config:
frontend:
group: !include groups.yaml
history: !include history.yaml
http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 172.30.33.0/24
image:
input_boolean:
input_datetime:
input_number:
input_select:
input_text:
lovelace:
  mode: storage
media_source:
mobile_app:
my:
person:
scene: !include scenes.yaml
script: !include scripts.yaml
ssdp:
stream:
sun:
system_health:
tag:
updater:
zeroconf:
zone:

#######################################################################################
# Home Assistant Core Integration
#######################################################################################
homeassistant:
  name: !secret home_name
  latitude: !secret home_latitude
  longitude: !secret home_longitude
  unit_system: imperial
  time_zone: !secret home_timezone

# Integrations
binary_sensor: !include binary_sensor.yaml

# camera
camera:
  - platform: ffmpeg
    input: !secret nvr_cam_01_input
    name: Front Yard
  - platform: ffmpeg
    input: !secret nvr_cam_02_input
    name: Front Door
  - platform: ffmpeg
    input: !secret nvr_cam_03_input
    name: garage

# light
light:
  - name: Kitchen Lights
    platform: group
    entities:
      - light.lfx_kitchen_01
      - light.lfx_kitchen_02
      - light.lfx_kitchen_03
      - light.lfx_kitchen_04
      - light.lfx_kitchen_05
      - light.lfx_kitchen_06
      - light.lfx_kitchen_07
      - light.lfx_kitchen_08
  - name: Bedroom Lights
    platform: group
    entities:
      - light.lfx_bedroom_left
      - light.lfx_bedroom_right
  - name: 'Office Lights'
    platform: group
    entities:
      - light.lfx_office_01
      - light.lfx_office_02
      - light.lfx_office_03
      - light.lfx_office_04

# nest
nest:
  client_id: !secret google_nest_client_id
  client_secret: !secret google_nest_client_secret
  # "Project ID" in the Device Access Console
  project_id: !secret google_nest_project_id
  # "Subscription name" in Google Cloud Console
  subscriber_id: !secret google_subscriber_id

# notify
notify:
  - name: all_mobile_devices
    platform: group
    services:
      - service: mobile_app_five_mega_pixel
      - service: mobile_app_chirp
  - name: discord
    platform: discord
    token: !secret discord_token

# sensor
sensor: !include sensor.yaml

# Text to speech
tts:
  - platform: google_translate
