#######################################################################################
# Core Config (non-default)
# https://www.home-assistant.io/integrations/default_config/
#######################################################################################
automation: !include automations.yaml
cloud:
  google_actions:
    entity_config:
      script.livingroom_tv:
        name: 'Living Room TV'
        aliases:
          - 'Turn on the living room tv'
          - 'Turn off the living room tv'
      script.livingroom_xbox:
        name: 'Living Room Xbox'
        aliases:
          - 'Turn on the living room xbox'
          - 'Turn off the living room xbox'
config:
frontend:
group: !include groups.yaml
history: !include history.yaml
image:
input_boolean:
input_datetime:
input_number:
input_select:
input_text:
lovelace:
  mode: storage
media_source:
mobile_app:
my:
person:
scene: !include scenes.yaml
script: !include scripts.yaml
ssdp:
sun:
system_health:
tag:
updater:
zeroconf:
zone:

#######################################################################################
# Home Assistant Core Integration
#######################################################################################
homeassistant:
  name: !secret home_name
  latitude: !secret home_latitude
  longitude: !secret home_longitude
  unit_system: imperial
  time_zone: !secret home_timezone

# Integrations
binary_sensor: !include binary_sensor.yaml

cellar_tracker:
  username: !secret cellar_tracker_username
  password: !secret cellar_tracker_password

cover:
  platform: opengarage
  covers:
    garage_4c:
      host: !secret opengarage_og_02_ip
      device_key: !secret opengarage_device_key
      name: garage_4c
    garage_4a:
      host: !secret opengarage_og_01_ip
      device_key: !secret opengarage_device_key
      name: garage_4a

# nest
nest:
  client_id: !secret google_nest_client_id
  client_secret: !secret google_nest_client_secret
  # "Project ID" in the Device Access Console
  project_id: !secret google_nest_project_id
  # "Subscription name" in Google Cloud Console
  subscriber_id: !secret google_subscriber_id

# notify
notify:
  - name: all_mobile_devices
    platform: group
    services:
      - service: mobile_app_five_mega_pixel
      - service: mobile_app_chirp
  - name: discord
    platform: discord
    token: !secret discord_token

# sensor
sensor: !include sensor.yaml

# tplink
tplink:
  discovery: false
  switch:
    - host: !secret pwr_02_ip
  strip:
    - host: !secret pwr_01_ip
    - host: !secret pwr_03_ip

# Text to speech
tts:
  - platform: google_translate
