#######################################################################################
# Home Assistant Main Configuration
# https://www.home-assistant.io/docs/configuration/
#######################################################################################
homeassistant:
  country: 'US'
  latitude: !secret home_latitude
  longitude: !secret home_longitude
  name: !secret home_name
  time_zone: !secret home_timezone
  unit_system: imperial

#######################################################################################
# Core Components (non-default)
# https://www.home-assistant.io/integrations/default_config/
#######################################################################################
automation: !include automations.yaml
cloud:
config:
frontend:
history: !include history.yaml
http:
  use_x_forwarded_for: true
  trusted_proxies:
    - '127.0.0.1'
    - '172.30.33.0/24'
image:
input_boolean:
input_button: !include input_button.yaml
input_datetime: !include input_datetime.yaml
input_number: !include input_number.yaml
input_select:
input_text:
logbook:
lovelace:
  mode: storage
media_source:
mobile_app:
my:
person:
recorder:
  exclude:
    domains:
      - automation
      - updater
    entities:
      - sun.sun
      - sensor.last_boot
      - sensor.date
      - sensor.time
    event_types:
      - call_service
scene:
script: !include scripts.yaml
ssdp:
stream:
sun:
system_health:
tag:
zeroconf:
zone:

#######################################################################################
# Other Integrations
#######################################################################################

# binary_sensor
# https://www.home-assistant.io/integrations/binary_sensor/
binary_sensor: !include binary_sensor.yaml

# camera
# https://www.home-assistant.io/integrations/camera/
camera:
  - platform: ffmpeg
    input: !secret nvr_cam_01_input
    name: Front Yard
  - platform: ffmpeg
    input: !secret nvr_cam_02_input
    name: Front Door
  - platform: ffmpeg
    input: !secret nvr_cam_03_input
    name: garage

# light
# https://www.home-assistant.io/integrations/light/
light:
  - name: Kitchen Lights
    platform: group
    entities:
      - light.lfx_kitchen_01
      - light.lfx_kitchen_02
      - light.lfx_kitchen_03
      - light.lfx_kitchen_04
      - light.lfx_kitchen_05
      - light.lfx_kitchen_06
      - light.lfx_kitchen_07
      - light.lfx_kitchen_08
  - name: Bedroom Lights
    platform: group
    entities:
      - light.lfx_bedroom_left
      - light.lfx_bedroom_right
  - name: 'Office Lights'
    platform: group
    entities:
      - light.lfx_office_01
      - light.lfx_office_02
      - light.lfx_office_03
      - light.lfx_office_04

# media_player
# https://www.home-assistant.io/integrations/media_player/
media_player:
  - platform: group
    name: All Google Speakers
    unique_id: all_google_speakers
    platform: group
    entities:
      - media_player.living_room_speaker
      - media_player.bedroom_speaker
      - media_player.kitchen_display

# notify
# https://www.home-assistant.io/integrations/notify/S
notify:
  - name: all_mobile_devices
    platform: group
    services:
      - service: mobile_app_five_mega_pixel
      - service: mobile_app_chirp

# rest
# https://www.home-assistant.io/integrations/rest/
rest: !include rest.yaml

# sensor
# https://www.home-assistant.io/integrations/sensor/
sensor: !include sensor.yaml

# Text to speech
# https://www.home-assistant.io/integrations/tts/
tts:
  - platform: google_translate
