---
name: Pull Request
on:  # yamllint disable-line rule:truthy
  pull_request:
    types: [opened]
jobs:
  auto-assign:
    name: Auto assignment
    runs-on: ubuntu-latest
    steps:
      - name: Auto assign pull request to the author
        uses: actions/github-script@v6
        with:
          script: |
            const pr = context.payload.pull_request;
            const author = pr.user.login;

            // Assign the pull request to the author
            await github.rest.issues.addAssignees({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: pr.number,
              assignees: [author],
            });
